<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <title>Search</title>

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="theme-color" content="#ffffff" />

  <link rel="preload" href="/index.css" as="style" />
  <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" as="style" />
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css" as="style" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css" />
  <link rel="stylesheet" href="/assets/bundle.min.css" />
  <link rel="stylesheet" href="/index.css" />
</head>
<body>
   <header role="navigation">
    <small>
      <a href="/index.html">🪴Simonpedia</a>
        <span> ＞ </span>
        <a href="/search.html">Search</a>
      ― <a href="https://github.com/parksb/pedia/commits/master/scripts/search.ejs">history</a> ·
      <a href="https://raw.githubusercontent.com/parksb/pedia/master/scripts/search.ejs">raw</a>
    </small>
    <form id="search-form" method="get" action="search.html">
      <input id="search-text-field" type="search" name="q" />
      <button id="search-button" type="submit"></button>
    </form>
  </header>

  <main>
    <h1>Search</h1>
    <ul></ul>
  </main>

  <footer>
    <small>© 박성범</small>
  </footer>

  <script>
    const urlParams = new URLSearchParams(window.location.search);
    let searchWord = urlParams.get('q');

    const searchTextField = document.querySelector('#search-text-field');
    searchTextField.value = searchWord;
  </script>
  <script src="https://unpkg.com/lunr/lunr.js"></script>
  <script src="/assets/lunr.stemmer.support.min.js"></script>
  <script src="/assets/lunr.multi.min.js"></script>
  <script src="/assets/lunr.ko.min.js"></script>
  <script>
    const documents = <%- document %>;
    const idx = lunr(function () {
      this.use(lunr.multiLanguage('en', 'ko'));
      this.ref('filename');
      this.field('title', { boost: 10 });
      this.field('text');

      documents.forEach(function (doc) {
        this.add(doc);
      }, this);
    });

    const searchResult = idx.search(searchWord);
    const registry = {}
    documents.forEach((doc) => {
      registry[doc.filename] = doc.title;
    });

    const resultList = document.querySelector('main > ul')
    searchResult.forEach((item) => {
      const li = document.createElement('li');
      const a = document.createElement('a');
      const title = document.createTextNode(registry[item.ref]);
      a.href = `/${item.ref}.html`;
      a.appendChild(title);
      li.appendChild(a);

      resultList.appendChild(li);
    });
  </script>
</body>
</html>
