@font-face {
  font-family: 'Pretendard VF Distilled';
  src: url('https://cdn.jsdelivr.net/gh/parksb/cdn@master/font/Pretendard/woff2/Pretendard-VF-Distilled.woff2') format('woff2');
  font-display: swap;
}

html { display: flex; height: 100%; }
body { display: flex; flex-direction: row; word-break: keep-all; word-wrap: break-word; line-height: 1.7; font-family: 'Pretendard VF Distilled', sans-serif; font-size: 16px; height: 100%; width: 100%; }
header { position: sticky; top: 0; background-color: #ffffffd0; border-bottom: 1px solid #dfe2e5; line-height: 1; display: flex; flex-direction: row; align-items: center; justify-content: space-between; }
header > div { display: flex; }
header ul { display: inline; list-style-type: none; margin: 0; padding: 0; }
header ul > li { display: inline; line-height: inherit;}
header ul > li:not(:last-child):after { content: '＞'; margin-left: 1px; margin-right: 1px; }
header div.meta { margin-right: .5rem; font-size: .85rem; }
header div.meta a { margin-right: .3rem; }
header .sidebar-toggle { padding: .6rem; cursor: pointer; font-size: 1rem; font-weight: 200; }
header .sidebar-toggle:hover { font-weight: 600; }
header .breadcrumbs { padding: .6rem .6rem .6rem 0; margin-left: 1.2rem; text-indent: -1.2rem; }
aside { overflow: scroll; flex: 1; max-width: 300px; border-right: 1px solid #dfe2e5; }
aside > ul { list-style-type: none; margin: 0; padding: 1rem 0 1rem 0; }
aside > ul > li { overflow: hidden; white-space: nowrap; padding: 0 1rem 0 1rem; cursor: pointer; }
aside > ul > li > a { display: block; }
aside > ul > li.active, aside > ul > li:hover { font-weight: 600; background-color: #eaecef; }
main { display: flex; flex: 3; flex-direction: column; overflow: scroll; }
article { max-width: 900px; padding: 1.5rem; }
footer { padding: 1.5rem; }
h1, h2, h3, h4, h5, h6 { margin: 0 0 1rem 0; font-weight: 600; line-height: 1.25  }
h1, h2 { padding-bottom: .3rem; border-bottom: 1px solid #eaecef; }
img { box-sizing: initial; width: auto; height: auto; max-width: 100%; max-height: 600px; display: block; border: 1px solid #eaecef; }
img + em { display: block; font-size: 0.9rem; }
ol, ul { padding-left: 2rem; }
ul > li, ol > li { line-height: 1.7; }
a { color: #0366d6; text-decoration: none; }
a[href$="http-404.html"] { color: #ff4070; }
a.external { color: #00a0c0; }
a.external:after { content: '↗'; font-size: .7rem; vertical-align: super; }
a:hover { outline-width: 0; text-decoration: underline; }
small { font-size: .85rem; color: #6a737d; font-weight: normal; }
li > code,  p > code { padding: .2rem .4rem; margin: 0; font-size: .85rem; background-color: #f6f8fa; }
blockquote { margin: 0; padding: 0 15px; color: #6a737d; border-left: .25rem solid #dfe2e5; }
.INFO { margin: 0; padding: 0 15px; color: #6a737d; border-left: .25rem solid #90d0ef; }
.NOTE { padding: 1rem; background-color: #fefbe6; color: #bf9f5f; margin-bottom: 1rem; border-left: .25rem solid #efdf9f; }
.NOTE > p:last-child { margin: 0; }
blockquote a, .NOTE a { color: #53a6f6; }
blockquote a.external, .NOTE a.external { color: #50b0d0; }
ol ol, ol ul, ul ol, ul ul { margin: 0; }
li div.NOTE, li blockquote p, li .hljs { margin: 0; }
hr { color: #fdfdfd; }
p { margin: 0 0 1em 0; }
code { font-family: 'Consolas', 'Monaco', 'Ubuntu Mono', 'Andale Mono', monospace; }
.katex-display { background-color: #f6f8fa; padding: 20px; overflow: auto; }
.hljs { font-size: 90%; line-height: 1.5; padding: 10px; margin: 0 0 1rem 0; }
.table-of-contents { border-left: 1px solid #6a737d; font-size: 90%; line-height: 1.7; margin-bottom: 1rem; }
.table-of-contents ul { list-style-type: none; counter-reset: item; margin: 0; padding-left: 1rem; }
.table-of-contents ul li:before { content: counters(item, ".") ". "; counter-increment: item; }
.footnotes > .footnotes-list { padding: 0; counter-reset: list; font-size: .8rem; }
.footnotes > .footnotes-list > .footnote-item { list-style-position: inherit; list-style: none; line-height: 1.4; }
.footnotes > .footnotes-list > .footnote-item:before { content: "[" counter(list) "] "; counter-increment: list; }
.footnotes > .footnotes-list > .footnote-item > p { display: inline; }
input[type="search"] { border: 0; border-bottom: 1px solid #dfe2e5; font-size: 1rem; padding: 0.5rem; outline: none; width: 100%; position: sticky; top: 0; background-color: #fffffff0; }
.hidden { display: none; }
